body {
    margin: 0%;
    overflow-x: hidden;
}

/* HEADER */
.header {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
}

.fav {
    height: 6vh;
    width: 6vh;
    margin-left: 3vw;
}

.bttn {
    width: 12vw;
    height: 3vw;
    margin-left: 75vw;
    transition: all 300ms ease;
    z-index: 1;
}

.bttn:hover {
    cursor: pointer;
    opacity: 50%;
    transition: all 300ms ease;
}

/* MAIN CANVAS */
.canvas {
    background-color: rgb(22, 22, 22);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: -1;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin: 4vw;
    background-color: rgb(14, 14, 14);
    padding-top: 2vw;
}

.logowrap {
    display: flex;
    flex-direction: row;
}

.logo{
    width: 8vw;
    margin: auto 5vw auto 5vw;
}

p {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    margin: 4vw;
}

.bttm {
    width: 100vw;
    height: 10vh;
    bottom: -5vh;
    position: absolute;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BOTTOM COPYTIGHT */
.bttmcop {
    width: 100vw;
    height: 5vh;
    bottom: -100vh;
    position: absolute;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {
    font-family: Verdana;
    width: 18vw;
    color: white;
    margin: auto 38vw auto 38vw;
    opacity: 50%;
}

/* MEDIA CHANGES */
@media (orientation:portrait) {
    .bttn {width: 56vw; height: 14vw; margin: 6vw;}
    .bttn:hover {width: 40vw; height: 10vw; margin: 6vw; opacity: 100%;}
    .bttmcop {height: 10vh; top: 90vh}
    .copy {font-size: 2.4vw; margin: auto 10vw auto 10vw;}
}