body {
    margin: 0%;
    overflow: hidden;
}

/* HEADER */
.header {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
}

.logo {
    height: 6vh;
    width: 6vh;
    margin-left: 3vw;
}

/* MAIN CANVAS */
.canvas {
    background-color: rgb(22, 22, 22);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bttn {
    width: 16vw;
    height: 4vw;
    transition: all 300ms ease;
}

.bttn:hover {
    cursor: pointer;
    opacity: 50%;
    transition: all 300ms ease;
}

.wrap {
    display: grid;
    width: 80vw;
    height: 60vh;
    justify-items: center;
    align-items: center;
}



.projects {
    display: none;
}

p {
    margin-left: 2vh;
    color: white;
    font-family: Verdana;
}

/* BOTTOM COPYTIGHT */
.bttmcop {
    width: 100vw;
    height: 5vh;
    position: absolute;
    bottom: 0;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {
    font-family: Verdana;
    width: 18vw;
    color: white;
    margin: auto 38vw auto 38vw;
    opacity: 50%;
}

/* MEDIA CHANGES */
@media (orientation:portrait) {
    .bttn {width: 56vw; height: 14vw; margin: 6vw;}
    .bttn:hover {width: 40vw; height: 10vw; margin: 6vw; opacity: 100%;}
    .bttmcop {height: 10vh; top: 90vh}
    .copy {font-size: 2.4vw; margin: auto 10vw auto 10vw;}
}